.playlist {
  --height: 5rem;
  width: 90%;
  height: var(--height);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 1rem auto;
}

.image {
  width: calc(var(--height) * 0.8);
  height: calc(var(--height) * 0.8);
  border-radius: 50%;
  margin: 0 2rem 0 0;
  object-fit: cover;
}

.name {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.2em;
  color: var(--color-4);
}
