.navbar {
  padding: 2vh 2rem;
  background-color: var(--color-1);
  color: var(--color-4);
  max-height: 150px;
  height: var(--navbar-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-elements {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  --elements-separation: 1rem;
}

.sign-out {
  background-color: transparent;
  border: none;
}
