.profile-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 20%;
}

.avatar {
  --avatar-size: 90px;
  width: var(--avatar-size);
  height: var(--avatar-size);
  object-fit: cover;
  border-radius: 50%;
}
