.title,
.fallback {
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.2em;
  margin: 1rem auto;
  color: var(--color-4);
  text-align: center;
}

.playlists {
  list-style: none;
  padding: 0;
  overflow-y: auto;
  text-align: center;
}

.line {
  width: 80%;
  margin: 1rem auto;
  border: 1px solid var(--color-4);
  border-radius: 35%;
}

.fallback {
  background-color: transparent;
  font-size: 1.5rem;
  margin: 1rem auto;
  padding: 1rem 2rem;
  border: 1px solid var(--color-4);
}
