.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 90%;
  padding: 5% 10%;
  display: flex;
  flex-direction: column;
}

.arrow {
  transform: rotate(180deg);
  display: inline;
  width: fit-content;
  position: absolute;
  top: 7%;
  left: 5%;
}
